body{
    color:violet;
    background-color: black;
}

/* p{
    font-family: 'Times New Roman',Times,serif;
    font-size:xx-Larger;
    font-style: italic;
} */
img{
    height:auto;
    width:100%;
    border-radius:100px;
}
@media (max-width:600px){
    img{
        height:auto;
        width:100%;
    }
}
video{
    width:100%;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: disc;
}
h1{
    padding: 50px;
    border:1px solid blue;
    margin:50px;
}
button{
    background-color:cornsilk;
    padding:10px;
    margin:20px;
}
button:hover{
    background-color: aquamarine;
}
table,th,td{
    border:1px solid white;
    border-collapse:collapse;
}
nav{
    display: flex;
    flex-direction: row;
    gap:50px;
}
@media (min-width:1024){
    nav{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
#p1{
    font-style: italic;
}
#p2{
    font-style:normal ;
}
.group{
    font-size:xx-large;
}
@media(min-width :1024){
.grid{
    display:grid;
    grid-template-rows: 33%33%33%;
}
}
#one{
    grid-column:1/2;
}
#two{
    grid-column: 1/2;
}
#three{
    grid-column: 1/2;
}
#four{
    grid-column: 1/2;
}
#five{
    grid-column: 1/2;
}
#six{
    grid-row: 1/2;
}

